<div class="container">

    <div class="mb-3 mt-3">
        <div class="alert alert-info text-center" role="alert">
            <b>Movies page # {{pageID}}</b>
        </div>
    </div>

    <div class="row">

        <div class="col-3 text-center p-3" *ngFor="let item of moviesData">

            <div class="customContainer">
                <img [src]="item.large_cover_image" alt="poster"
                    class="img-fluid card-img-top p-1 rounded border image border-info">
                <div class="overlay">
                    <p *ngFor="let genre of item.genres">
                        {{genre}}
                    </p>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ item.title }} ({{ item.year }})</h5>

                <h6>
                    <span *ngFor="let unit of item.torrents">
                        <a class="badge badge-pill badge-dark text-white m-1" [href]="unit.url">
                            {{ unit.quality }}
                        </a>
                    </span>

                </h6>

                <a [routerLink]="[ '/movie', item.id ]" class="btn btn-primary">Details</a>
            </div>

        </div>

    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="!(pageID > 1)">
                <a class="page-link" [routerLink]="['/moviesList',(pageID-1)]">Previous</a>
            </li>

            <li class="page-item" *ngIf="(pageID == 1); else notFirst1">
                <a class="page-link activeStyle" [routerLink]="['/moviesList',1]">1</a>
            </li>
            <ng-template #notFirst1>
                <a class="page-link" [routerLink]="['/moviesList',(pageID-1)]">{{pageID-1}}</a>
            </ng-template>

            <li class="page-item" *ngIf="(pageID == 1); else notFirst2">
                <a class="page-link" [routerLink]="['/moviesList',2]">2</a>
            </li>
            <ng-template #notFirst2>
                <a class="page-link activeStyle" [routerLink]="['/moviesList',pageID]">{{pageID}}</a>
            </ng-template>

            <li class="page-item" *ngIf="(pageID == 1); else notFirst3">
                <a class="page-link" [routerLink]="['/moviesList',3]">3</a>
            </li>
            <ng-template #notFirst3>
                <a class="page-link" [routerLink]="['/moviesList',(pageID+1)]">{{pageID+1}}</a>
            </ng-template>

            <li class="page-item"><a class="page-link" [routerLink]="['/moviesList',(pageID+1)]">Next</a></li>
        </ul>
    </nav>

</div>


<div id="loader-wrapper" *ngIf="loading">
    <div class="loader"></div>
</div>